<div class="container-fluid">
	<div class="row">
		<div class="col-xs-10 col-xs-offset-1">
			<div id="game-info" class="row">
				<div id="game-score" class="col-xs-3">
					<p>Pitch Count: {{pitchCount}}</p>
				</div>
				<div id="count" class="col-xs-6">
					<p>Count: 
						<select ng-model="count.balls">
							<option>0</option>
							<option>1</option>
							<option>2</option>
							<option>3</option>
						</select>
						-
						<select ng-model="count.strikes">
							<option>0</option>
							<option>1</option>
							<option>2</option>
						</select>
					</p>
				</div>
				<div id="game-status" class="col-xs-3">
					<p>
						<select ng-model="outs">
							<option>0</option>
							<option>1</option>
							<option>2</option>
						</select>
						Out(s)
					</p>
				</div>
			</div>
			<hr>
			<div class="row">
				<div class="col-xs-6">
					<button class="btn btn-danger" id="record-pitch" ng-click="commitPitchEvent()">Apply Pitch</button>
				</div>
				<div class="col-xs-6">
					<a class="btn btn-info" id="complete-game" href="#/recap">Complete Game</a>
				</div>
			</div>
			<hr>
			<div id="game-controls">
				<div class="col-xs-6">
					<div class="row">
						<div class="title">Pitch Type</div>
						<div>
						  <button type="button" class="btn btn-default btn-pitch-type btn-pitch-default" ng-repeat="pitch in pitchTypes" ng-click="addPitchType($index)">{{pitch.name}}</button>
						</div>
					</div>
					<hr>

					<div class="row">
						<div id="batter-handedness">
							<span class="title">Batter Handedness:</span>
							<button class="btn btn-default btn-batter btn-pitch-default" ng-click="addBatterHandedness(0)">L</button>
							<button class="btn btn-default btn-batter btn-pitch-default" ng-click="addBatterHandedness(1)">R</button>
						</div>
					</div>
					<hr>

					<div class="row">
						<div class="title">Pitch Speed</div>
						<input type="range" min=50 max=105 value=80 step=1 ng-model="pitchSpeed"/>
						<p>{{pitchSpeed}} mph</p>
					</div>

				</div>
				<div class="col-xs-6">
					<div class="row">
						<div class="title">Pitch Outcome</div>
						<div>
						  <button type="button" class="btn btn-default btn-pitch-outcome btn-pitch-default" ng-click="addPitchOutcome('b', false)">Ball</button>
						  <button type="button" class="btn btn-default btn-pitch-outcome btn-pitch-default" ng-click="addPitchOutcome('s', false)">Strike</button>
						  <br />
						  <button type="button" class="btn btn-default btn-pitch-outcome btn-pitch-default" ng-click="addPitchOutcome('fb', false)">Foul</button>
						  <button type="button" class="btn btn-default btn-pitch-outcome btn-pitch-default" ng-click="addPitchOutcome(5, true)">Out (In Play)</button>
						  <br />
						  <button type="button" class="btn btn-default btn-pitch-outcome btn-pitch-default" ng-click="addPitchOutcome(1, true)">1B</button>
						  <button type="button" class="btn btn-default btn-pitch-outcome btn-pitch-default" ng-click="addPitchOutcome(2, true)">2B</button>
						  <br />
						  <button type="button" class="btn btn-default btn-pitch-outcome btn-pitch-default" ng-click="addPitchOutcome(3, true)">3B</button>
						  <button type="button" class="btn btn-default btn-pitch-outcome btn-pitch-default" ng-click="addPitchOutcome(4, true)">HR</button>
						</div>
					</div>
					<hr>

					<div class="row" id="pitch-zone">
						<div class="title">Pitch Placement</div>
						<div class="row">
							<div class="col-xs-10 col-xs-offset-1">
								<button class="btn btn-zone col-xs-4" ng-repeat="placement in placements" ng-click="addPitchPlacement($index)">{{placement.name}}</button>
							</div>
						</div>
					</div>

					<!--
					<hr>
					-->
				</div>
			</div>	
		</div>
	</div>
	<hr>
	<div class="row">
		<div class="col-xs-5 col-xs-offset-1">
			<h4>Last 5 Events</h4>
			<div ng-repeat="pitchEvent in eventLog.slice().reverse() | limitTo:5">{{pitchEvent}}</div>
		</div>
		<div class="col-xs-5">
			<h4>Quick Summary</h4>
			<table>
				<tr ng-repeat="pitch in pitchTypes">
					<td class="summary-pitch-name">{{pitch.name}}</td>
					<td class="summary-pitch-count">{{pitch.frequency.total}}</td>
				</tr>
				<tr><td>Total:</td><td>{{pitchCount}}</td><td>{{avgSpeed}} mph</td></tr>
			</table>
		</div>
	</div>
</div>