<div class="container-fluid">
	<div class="col-xs-12">
		<div class="row">
			<div class="col-xs-4">
				<div class="row">
					<h3 class="title">Situation</h3>
					<div id="situation-balls">
					<h3><small>Balls</small></h2>
						<button type="button" class="btn btn-default btn-situation-balls btn-pitch-default btn-success" ng-click="addFilter('balls', -1)">Any</button>
						<button type="button" class="btn btn-default btn-situation-balls btn-pitch-default" ng-click="addFilter('balls', 0)">0</button>
						<button type="button" class="btn btn-default btn-situation-balls btn-pitch-default" ng-click="addFilter('balls', 1)">1</button>
						<button type="button" class="btn btn-default btn-situation-balls btn-pitch-default" ng-click="addFilter('balls', 2)">2</button>
						<button type="button" class="btn btn-default btn-situation-balls btn-pitch-default" ng-click="addFilter('balls', 3)">3</button>
					</div>
					<div id="situation-strikes">
						<h3><small>Strikes</small></h3>
						<button type="button" class="btn btn-default btn-success btn-situation-strikes btn-pitch-default" ng-click="addFilter('strikes', -1)">Any</button>
						<button type="button" class="btn btn-default btn-situation-strikes btn-pitch-default" ng-click="addFilter('strikes', 0)">0</button>
						<button type="button" class="btn btn-default btn-situation-strikes btn-pitch-default" ng-click="addFilter('strikes', 1)">1</button>
						<button type="button" class="btn btn-default btn-situation-strikes btn-pitch-default" ng-click="addFilter('strikes', 2)">2</button>
					</div>
					<div id="situation-outs">
					<h3><small>Outs</small></h3>
						<button type="button" class="btn btn-default btn-success btn-situation-outs btn-pitch-default" ng-click="addFilter('outs', -1)">Any</button>
						<button type="button" class="btn btn-default btn-situation-outs btn-pitch-default" ng-click="addFilter('outs', 0)">0</button>
						<button type="button" class="btn btn-default btn-situation-outs btn-pitch-default" ng-click="addFilter('outs', 1)">1</button>
						<button type="button" class="btn btn-default btn-situation-outs btn-pitch-default" ng-click="addFilter('outs', 2)">2</button>
					</div>
				</div>
			</div>
			<div class="col-xs-8">
				<div class="row">
					<div class="col-xs-4 col-xs-offset-1" id="situation-results">
						<div class="row">
							<h3 class="title">Placement</h3>
								<div class="row">
									<button disabled ng-repeat="placement in placements" class="btn btn-zone col-xs-4">{{ Math.round(placement.frequency.total / totalPitches * 100)}}%</button>
								</div>
						</div>
					</div>
					<div class="col-xs-6 col-xs-offset-1">
						<div class="row">
							<h3 class="title">Pitch %</h3>
							<div ng-repeat="pitch in pitchTypes">{{pitch.name}} - {{ Math.round(pitch.frequency.total / totalPitches * 100) }}%</div>
						</div>
					</div>
				</div>
				<div class="row">
					<h3 class="title">Velocity Chart</h3>
				</div>
			</div>
		</div>
		<hr>
		<div class="row">
			<a class="btn btn-default" href="#/record">New Game</a>
			<h3>Game Log</h3>
			Filter: <input ng-model="query">
			<div id="gameLog">
			<div ng-repeat="pitchEvent in pitchEventStack | filter:query">
				<hr>
				<div class="row">
					<div class="col-xs-4">
						<div>Inning: {{pitchEvent.inning}}</div>
						<div>Count: {{pitchEvent.count.balls}}-{{pitchEvent.count.strikes}}, {{pitchEvent.outs}} out</div>
						<div>Pitch Count: {{pitchEvent.pitchCount}}</div>
					</div>
					<div class="col-xs-4">
						<div>Batter #: {{pitchEvent.batter.order}}</div>
						<div>Batter Hand: {{pitchEvent.batter.handedness}}</div>
						<div>Pitch Outcome: {{pitchEvent.pitch.outcome}}</div>
					</div>
					<div class="col-xs-4">
						<div>Pitch Type: {{pitchTypes[pitchEvent.pitch.type].name}}</div>
						<div>Pitch Speed: {{pitchEvent.pitch.speed}}</div>
						<div>Placement: {{placements[pitchEvent.pitch.placement].name}}</div>
					</div>
				</div>
			</div>
			</div>
		</div>
	</div>
</div>

<pre>{{pitchEventStack}}</pre>