<div class="container-fluid">
	<div class="col-xs-12">
		<div class="row">
			<!--<div class="alert alert-success">
				Select the situation below to view pitcher statistics for selection.
			</div>-->
			<div class="col-xs-5 col-xs-offset-1">
				<div id="situation-balls">
				<h6>Balls</h6>
					<button type="button" class="btn btn-default btn-situation-balls btn-pitch-default btn-success" ng-click="addFilter('balls', -1)">Any</button>
					<button type="button" class="btn btn-default btn-situation-balls btn-pitch-default" ng-click="addFilter('balls', 0)">0</button>
					<button type="button" class="btn btn-default btn-situation-balls btn-pitch-default" ng-click="addFilter('balls', 1)">1</button>
					<button type="button" class="btn btn-default btn-situation-balls btn-pitch-default" ng-click="addFilter('balls', 2)">2</button>
					<button type="button" class="btn btn-default btn-situation-balls btn-pitch-default" ng-click="addFilter('balls', 3)">3</button>
				</div>
				<div id="situation-strikes">
					<h6>Strikes</h6>
					<button type="button" class="btn btn-default btn-success btn-situation-strikes btn-pitch-default" ng-click="addFilter('strikes', -1)">Any</button>
					<button type="button" class="btn btn-default btn-situation-strikes btn-pitch-default" ng-click="addFilter('strikes', 0)">0</button>
					<button type="button" class="btn btn-default btn-situation-strikes btn-pitch-default" ng-click="addFilter('strikes', 1)">1</button>
					<button type="button" class="btn btn-default btn-situation-strikes btn-pitch-default" ng-click="addFilter('strikes', 2)">2</button>
				</div>
			</div>
			<div class="col-xs-6">
				<div id="situation-outs">
				<h6>Outs</h6>
					<button type="button" class="btn btn-default btn-success btn-situation-outs btn-pitch-default" ng-click="addFilter('outs', -1)">Any</button>
					<button type="button" class="btn btn-default btn-situation-outs btn-pitch-default" ng-click="addFilter('outs', 0)">0</button>
					<button type="button" class="btn btn-default btn-situation-outs btn-pitch-default" ng-click="addFilter('outs', 1)">1</button>
					<button type="button" class="btn btn-default btn-situation-outs btn-pitch-default" ng-click="addFilter('outs', 2)">2</button>
				</div>
				<div id="situation-batter">
				<h6>Batter</h6>
					<button type="button" class="btn btn-default btn-success btn-situation-outs btn-pitch-default" ng-click="addFilter('batter', -1)">Any</button>
					<button type="button" class="btn btn-default btn-situation-outs btn-pitch-default" ng-click="addFilter('batter', 0)">L</button>
					<button type="button" class="btn btn-default btn-situation-outs btn-pitch-default" ng-click="addFilter('batter', 1)">R</button>
				</div>
			</div>
		</div>
		<hr>
		<div class="row">
			<div class="col-xs-3 col-xs-offset-1" id="situation-results">
				<div class="row">
					<h3 class="title">Placement</h3>
					<button disabled ng-repeat="placement in placements" ng-style="{'background': placement.zoneStyle}" class="btn btn-zone col-xs-4">{{ (placement.frequency.total / totalPitches * 100).toFixed(2) }}%</button>
				</div>
			</div>

			<div class="col-xs-7 col-xs-offset-1">
				<div class="row">
					<h3 class="title">Breakdown</h3>
					<table id="recap-pitch-totals" class="table">
						<tr>
							<th>Pitch</th>
							<th>Total</th>
							<th>Freq.</th>
							<th>Avg Speed</th>
							<th>Top Speed</th>
						</tr>
						<tr ng-repeat="pitch in pitchTypes">
							<td class="col-xs-2">{{pitch.name}}</td>
							<td class="col-xs-2">{{pitch.frequency.total}}</td>
							<td class="col-xs-2">{{ (pitch.frequency.total / totalPitches * 100).toFixed(2) }}%</td>
							<td class="col-xs-3">{{ (pitch.avgSpeed).toFixed(2) }} mph</td>
							<td class="col-xs-3">{{pitch.topSpeed}} mph</td>
						</tr>
						<tr>
							<td class="col-xs-2">Total</td>
							<td class="col-xs-2">{{totalPitches}}</td>
						</tr>
					</table>
				</div>
			</div>
			
		</div>

		<div class="row">
			<div class="col-xs-10 col-xs-offset-1">
				<div class="row">
					<h3 class="title">Outcomes by pitch</h3>
					<table id="recap-pitch-totals" class="table">
						<tr>
							<th>Pitch</th>
							<th>Strike</th>
							<th>Ball</th>
							<th>Foul</th>
							<th>1B</th>
							<th>2B</th>
							<th>3B</th>
							<th>HR</th>
							<th>Out (in play)</th>
						</tr>
						<tr ng-repeat="pitch in pitchTypes">
							<td class="col-xs-3">{{pitch.name}}</td>
							<td class="col-xs-1">{{pitch.outcome['s']}}</td>
							<td class="col-xs-1">{{pitch.outcome['b']}}</td>
							<td class="col-xs-1">{{pitch.outcome['fb']}}</td>
							<td class="col-xs-1">{{pitch.outcome[1]}}</td>
							<td class="col-xs-1">{{pitch.outcome[2]}}</td>
							<td class="col-xs-1">{{pitch.outcome[3]}}</td>
							<td class="col-xs-1">{{pitch.outcome[4]}}</td>
							<td class="col-xs-2">{{pitch.outcome[5]}}</td>
						</tr>
						<tr>
							<td class="col-xs-3">Total</td>
							<td class="col-xs-1">{{outcome['s']}}</td>
							<td class="col-xs-1">{{outcome['b']}}</td>
							<td class="col-xs-1">{{outcome['fb']}}</td>
							<td class="col-xs-1">{{outcome[1]}}</td>
							<td class="col-xs-1">{{outcome[2]}}</td>
							<td class="col-xs-1">{{outcome[3]}}</td>
							<td class="col-xs-1">{{outcome[4]}}</td>
							<td class="col-xs-2">{{outcome[5]}}</td>
						</tr>
					</table>
				</div>
			</div>
		</div>
		<hr>
		<div class="row">
			<button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#game-log" aria-expanded="false" aria-controls="collapseExample">
			  Show Game Log
			</button>
			<a class="btn btn-info" href="/app/#/random">Generate New Test Data</a>
			<a class="btn btn-info" href="/app/#/record">New Game</a>
			<div class="collapse" id="game-log">
				<h3>Game Log</h3>
				Filter: <input ng-model="query">
				<div id="gameLog">
					<div ng-repeat="pitchEvent in pitchEventStack | filter:query">
						<hr>
						<div class="row">
							<div class="col-xs-3">
								<div>Count: {{pitchEvent.count.balls}}-{{pitchEvent.count.strikes}}, {{pitchEvent.outs}} out</div>
								<div>Pitch Count: {{pitchEvent.pitchCount}}</div>
							</div>
							<div class="col-xs-3">
								<div>Batter #: {{pitchEvent.batter.order}}</div>
								<div>Batter Hand: {{pitchEvent.batter.handedness}}</div>
							</div>
							<div class="col-xs-3">
								<div>Pitch Speed: {{pitchEvent.pitch.speed}}</div>
								<div>Pitch Outcome: {{pitchEvent.pitch.outcome}}</div>
							</div>
							<div class="col-xs-3">
								<div>Pitch Type: {{pitchTypes[pitchEvent.pitch.type].name}}</div>
								<div>Placement: {{placements[pitchEvent.pitch.placement].name}}</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>