<div class="container-fluid">
	<div class="row">
		<div class="col-xs-10 col-xs-offset-1">
			<div id="game-info" class="row">
				<div id="game-score" class="col-xs-3">
					<p>Runs: {{score.away}}</p>
				</div>
				<div id="counts" class="col-xs-6">
					<p id="count">Count: {{count.balls}} - {{count.strikes}}</p>
					<p>Pitch Count: {{pitchCount}}</p>
				</div>
				<div id="game-status" class="col-xs-3">
					<p>Bottom {{ inning }}</p>
					<p>{{outs}} out</p>
				</div>
			</div>
			<hr>
			<div id="game-controls">
				<div class="col-xs-6">
					<button class="btn btn-danger" id="record-pitch" ng-click="commitPitchEvent()">Apply Pitch</button>
					<div class="row">
						<div class="title">Pitch Type</div>
						<div>
						  <button type="button" class="btn btn-default btn-pitch-type btn-pitch-default" ng-repeat="pitch in pitchTypes" ng-click="addPitchType($index)">{{pitch.name}}</button>
						</div>
					</div>
					<hr>
					<div class="row">
						<div class="title">Pitch Outcome</div>
						<div>
						  <button type="button" class="btn btn-default btn-pitch-outcome btn-pitch-default" ng-click="addPitchOutcome('b', false)">Ball</button>
						  <button type="button" class="btn btn-default btn-pitch-outcome btn-pitch-default" ng-click="addPitchOutcome('s', false)">Strike</button>
						  <br />
						  <button type="button" class="btn btn-default btn-pitch-outcome btn-pitch-default" ng-click="addPitchOutcome('fb', false)">Foul</button>
						  <button type="button" class="btn btn-default btn-pitch-outcome btn-pitch-default" ng-click="addPitchOutcome(5, true)">Out (In Play)</button>
						  <br />
						  <button type="button" class="btn btn-default btn-pitch-outcome btn-pitch-default" ng-click="addPitchOutcome(1, true)">1B</button>
						  <button type="button" class="btn btn-default btn-pitch-outcome btn-pitch-default" ng-click="addPitchOutcome(2, true)">2B</button>
						  <br />
						  <button type="button" class="btn btn-default btn-pitch-outcome btn-pitch-default" ng-click="addPitchOutcome(3, true)">3B</button>
						  <button type="button" class="btn btn-default btn-pitch-outcome btn-pitch-default" ng-click="addPitchOutcome(4, true)">HR</button>
						</div>
					</div>
				</div>
				<div class="col-xs-6">
					<div class="row">
						<div id="batter-handedness">
							<span class="title">Batter Handedness:</span>
							<button class="btn btn-default btn-batter btn-pitch-default" ng-click="addBatterHandedness('l')">L</button>
							<button class="btn btn-default btn-batter btn-pitch-default" ng-click="addBatterHandedness('r')">R</button>
						</div>
					</div>
					<hr>
					<div class="row">
						<div class="title">Pitch Speed</div>
						<input type="range" min=50 max=105 value=80 step=1 ng-model="pitchSpeed"/>
						<p>{{pitchSpeed}} mph</p>
					</div>
					<hr>
					<div class="row" id="pitch-zone">
						<div class="title">Pitch Placement</div>
						<div class="row">
							<div class="col-xs-10 col-xs-offset-1">
								<button class="btn btn-zone col-xs-4" ng-repeat="placement in placements" ng-click="addPitchPlacement($index)">{{placement.name}}</button>
							</div>
						</div>
					</div>
					<hr>
					<h3>Quick Summary</h3>
					<table>
						<tr ng-repeat="pitch in pitchTypes">
							<td class="summary-pitch-name">{{pitch.name}}</td>
							<td class="summary-pitch-count">{{pitch.frequency.total}}</td>
							<td class="summary-pitch-speed">{{pitch.avgSpeed}} mph</td>
							<td class="summary-pitch-loc">{{pitch.locations}}</td>
						</tr>
						<tr><td>Total:</td><td>{{pitchCount}}</td><td>{{avgSpeed}} mph</td></tr>
					</table>
				</div>
			</div>	
			<p><a href="#/recap">Complete Game</a></p>
		</div>
	</div>
</div>